/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.sl_cap_1_first {
  margin-left: 161px;
  margin-top: 22px;
}
.all_home_2.all_home_3 {
  margin-top: 0px;
}    
.nyrd_all_first {
  margin-left: 268px;
  margin-top: 133px;
}
.layer-14.animated.flipInX > h3 {
  margin-top: 12px;
}    
.layer-15.animated.rotateInUpLeft {
  margin-left: 225px;
  margin-top: 39px;
}
.layer-16.animated.rotateInUpLeft {
  margin-left: 176px;
}
.layer-14.animated.flipInX {
  margin-left: -54px;
}    
.layer-1-5.animated.rotateInUpLeft a, .layer-2-5.animated.bounceInUp a {
  font-size: 15px;
  padding: 6px 14px;
}    
.new_search {
  max-width: 323px;
}   
.shopping_cart_area {
  min-width: 0px;
} 
.new_mega_menu {
  width: 566px;
} 
ul.sub_menu_6 {
  width: 216px;
}
ul.new_miup_menu {
  width: 239px;
}
ul.decent_mean_menu {
  left: 228px;
  width: 141px;
}
span.cdown{
 font-size: 10px;
}
span.cdown strong{
 font-size: 9px;
}
.social-icons {
  margin-right: 76px;
}
.sld-fl {
  margin-left: 73px;
  margin-top: 53px;
} 
.layer-2-6.animated.zoomIn > img {
  width: 74%;
}
.sld-fr {
  margin-right: -43px;
  margin-top: -8px;
  margin-left: -83px;
}
.tld-f1 {
  margin-top: 43px;
}
.tld-f2 {
  margin-left: 95px;
  padding-top: 136px;
  width: 80%;
}    
.indicator-brand.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 622px;
} 
.indicator-brand.indicator-brand-2.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 147px;
}
.indicator-brand-2.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 17px;
}
.indicator-brand-4.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 169px;
}
.indicator-brand-4.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: -2px;
}
.indicator-brand-7.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 861px;
}
.full_form {
  width: 314px;
} 
.indicator-brand-5.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 619px;
}
.layer-1-6 img {
  width: 211px;
  margin-left: -30px;
  margin-top: 10px;
}
.layer-2-6 img{
   width: 34%;     
}
.new_slide_one .camera_pag {
  top: 322px;
}
.new_slide_one.camera_wrap {
  margin-bottom: 34px !important;
} 
.news_heading {
  margin-left: 42px;
} 
.indicator-brand.owl-theme .owl-controls .owl-buttons {
  left: 0px;
}
.news_heading.news_heading_3 {
  margin-left: 0;
}
.social-icons li {
  margin: 0 3px 3px;
}
.news_heading {
  margin-left: 0;
}
.news_heading h3 {
  margin: 0;
}
.full_form {
  margin-right: 24px;
}
.single-sidebar {
  width: 217px;
}
.product_heading.product_heading_tf > span::before {
  width: 866px;
}    
.indicator-brand-8.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 867px;
}
.indicator-brand-9.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 861px;
}
.indicator-brand-10.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 867px;
}
.indicator-brand-bg.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 863px;
}    
.full_form.full_form_2 {
  width: 311px;
}
.news_heading_2 h3::after {
  width: 127px;
}
.new_slide_two .slider-caption-1-1 {
  margin-top: 49px;
}
.pix_new.pix_new_2 > a {
  height: 140px;
}
.slider-caption-3 {
  margin-left: 288px;
  margin-top: 71px;
}
.slider-caption-4 {
  margin-left: 27px;
  margin-top: 36px;
}
.slider-caption-4 .layer-13 {
  margin-left: -12px;
}
.slider-caption-4 .layer-15 {
  margin-left: 286px;
  margin-top: 62px;
}
.slider-caption-4 .layer-16 {
  margin-left: 238px;
}
.indicator-brand-12.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 866px;
}
.new_slide_three .camera_pag {
  top: 320px;
  left: 207px;    
} 
a.item_link {
  width: 233px;
} 
.mega_menu {
  left: 236px;
} 
ul.another_drop_menu {
 left: 235px;
}
a.item_link::after {
  right: 11px;
}
.all_home_2 {
  margin-bottom: 29px;
  margin-top: 37px;    
}
.nivo-controlNav a.active {
  top: 397px;
}
.nivo-controlNav a {
  right: 199px;
  top: 397px;
}    
.indicator-brand-4.owl-theme .owl-controls .owl-buttons {
  left: 0px;
}
.new_slide_three .camera_next, .camera_prev {
  top: 170px;
}
.new_slide_three .camera_next, .camera_prev {
  right: -10px;
}       
.cramb_area.cramb_area_5 {
  margin-top: 26px;
}
.product-action {
  top: 26%;
}
.usal_pro {
  margin-left: -9px;
}
.navi_area.navi_area_zq::after {
  width: 779px;
}
.navi_area::after {
  width: 536px;
}    
.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  width: 150px;
}
.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  margin: 24px 33px 12px;
}  
.brand-2 {
  margin-top: 44px;
}
.navi_area.navi_area_tf::after {
  width: 538px;
}    
.favtabs.favtabs-2 {
  right: 726px;
}
.favtabs.favtabs-2::after {
  width: 940px;
}    
.favtabs.favtabs-2.favtabs-3 {
  right: 531px;
} 
.usal_pro.usal_pro_2 {
  margin-left: -12px;
  margin-top: 6px;
}
.post-title.post-title-df {
  margin: 19px 0 10px;
}    
.indicator-brand-13.owl-theme .owl-controls .owl-buttons div {
  left: 275px;
} 
.indicator-brand-13 .owl-pagination {
  left: 95px;
}
.indicator-brand-16.indicator-brand-13 .owl-buttons {
  top: 181px;
}
.indicator-brand-16.indicator-brand-13.owl-theme .owl-controls .owl-buttons div {
  left: 635px;
}
.indicator-brand-16.indicator-brand-13 .owl-pagination {
  left: 244px;
  top: 204px;
}     
.blog_thumb_4 {
  height: 213px;
}
.indicator-brand-13 .owl-buttons {
  left: -1px;
  top: 84px;
}
.indicator-brand-13 .owl-pagination {
  top: 105px;
}    
.blog_thumb.blog_thumb_2.blog_thumb_3.blog_thumb_4.blog_thumb_5 {
  height: 135px;
}
.indicator-brand-14 .owl-buttons {
  top: 52px;
}
.indicator-brand-14.owl-theme .owl-controls .owl-buttons div {
  left: 165px;
}
.indicator-brand-14 .owl-pagination {
  top: 65px;
  left: 44px;    
}
.indicator-brand-14.owl-theme .owl-controls .owl-page span {
  margin: 5px 4px;
}    
.blog_thumb.blog_thumb_2.blog_thumb_3.blog_thumb_4.blog_thumb_5.blog_thumb_6.blog_thumb_7 {
  height: 97px;
}
.indicator-brand-15 .owl-buttons {
  top: 33px;
}
.indicator-brand-15.owl-theme .owl-controls .owl-buttons div {
  left: 113px;
}
.indicator-brand-15.owl-theme .owl-controls .owl-page span {
  margin: 5px 1px;
} 
.indicator-brand-15 .owl-pagination {
  left: 34px;
  top: 43px;
} 
.indicator-brand-17 .owl-pagination::after {
  left: 164px;
  top: 119px;
}
.indicator-brand-17 .owl-page > span::before {
  left: 266px;
  top: 119px;
}
.form-action label {
  margin: -2px 230px 0 0;
}
.wishlist-table table .wishlist-in-stock {
  margin-left: 26px;
} 
.amount-list {
  margin-left: 21px;
}
.button_act.btn-tip {
  margin-left: 477px;
}
.modal-dialog {
  margin: -1% auto;
} 
.blog_info {
  margin: 0;
}
.home_2_about {
  padding-bottom: 26px;
}     
}  
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.slider-area.slider-area-2 {
  margin-top: 0px;
}
.layer-2-2.animated.slideInLeft {
  margin-bottom: 13px;
} 
.layer-2-4.animated.slideInLeft > h3 {
  margin-bottom: 26px;
}    
.rate-extra-2 {
  margin-top: -48px;
}
.all_home_2.all_home_3 {
  margin-top: 0;
}    
.slider-area.slider-area-3 {
  margin-left: -1px;
  margin-top: 29px;    
}    
.sld-fl {
  margin-top: 0px;
}   
.header_middle {
  padding: 38px 0 39px;
}
.post-title.post-title-df {
  margin: 19px 0 10px;
}    
.sld-fr {
  margin-right: -17px;
  margin-top: -33px;
  margin-left: -235px;
}
.layer-2-6.animated.zoomIn > img {
  width: 66%;
}
.layer-1-3 h1 {
  font-size: 29px;
}
.layer-1-4 h3 {
  font-size: 20px;
} 
.layer-1-2 h2 {
  font-size: 32px;
} 
.layer-1-2 {
  margin-bottom: 20px;
}
.tld-f1 {
  margin-top: 10px;
}
.tld-f2 {
  padding-top: 288px;
  margin-left: -156px;
}    
.menu {
  display: none;
}
.full_menu {
  background:none;
  border-bottom: none;
}       
.all_catagories {
  display: none;
}
.blog_info.blog_info-sc {
  margin-bottom: 12px;
}    
.social-icons {
  margin-right: 175px;
}   
.new_search {
  margin-left: 1px;
  max-width: 396px;
  width: 100%;
} 
.header_right_area > ul > li > a {
  margin-left: 5px;
} 
.header_right_area {
  padding: 18px 1px;
} 
.new_slide_three .camera_next, .camera_prev {
  top: 144px;
}
.tld-f1 {
  margin-top: 21px;
}
.sld-fl {
  margin-top: 26px;
}
.mega_menu {
  width: 396px;
}  
.plus_pic {
  display: none;    
}
.plus_area {
  margin-bottom: 0;
} 
.differ_pic {
  margin-bottom: 0; 
}
.all-pros {
  margin-bottom: 24px;
} 
.lumia_area {
  margin-bottom:0;
}    
.indicator-brand-5.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 642px;
} 
.indicator-brand-6.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 644px;
}
.indicator-brand-7.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 672px;
} 
.all_product {
  display: none;
}
.cosmatics_products i {
  margin-left: 3px;
} 
.cosmatics_products > span {
  margin-left: 12px;
}
.indicator-brand-2.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 628px;
}
.indicator-brand-2.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 42px;
}
.news_heading h3 {
  margin: 5px 23px 0 36px;
}
.full_form {
  margin-right: 137px;
  margin-bottom: 5px;    
}    
.news_heading_2 h3::after {
  left: 29%;
}
.new_product.new_product_nx {
  display: none;
} 
.layer-1-6 img {
  width: 172px;
  margin-top: 184px;
  margin-left: -67px;
}
.layer-1-6.animated.zoomIn {
  margin-top: -193px;
}    
.layer-2-6 img{
   width: 34%;     
} 
.logo_area {
  text-align: center;
} 
.news_heading.news_heading_3 {
  margin-left: 149px;
}
.my-slider {
  padding: 48px 0;
}    
.new_slide_one.camera_wrap {
  margin-bottom: 41px !important;
}
.news_heading {
  margin-left: 43px;
}
.news_right {
  margin-left: -13px;
  margin-top: 7px;
}
.social-icons li {
  margin-top: 7px;
}
.blog_info {
  margin-bottom: 20px;
}
.indicator-brand-6.owl-theme .owl-controls .owl-buttons {
  top: -102px;
}    
.pix_new.pix_new_2 {
  display: none;
}
.new_product_2{
  display: none;
}
.indicator-brand-7.owl-theme .owl-controls .owl-buttons {
  display: none;
}
.lenovo_area {
  margin-bottom: 3px;
  margin-left: 25px;
  margin-top: -21px;
}
.lumia_area_scend {
  margin-bottom: 38px;
}
.top_rate_area.top_rate_area_2 {
  margin-bottom: 1px;
}
.new_blog_post {
  margin-bottom: -44px;
}
.main_brand {
  margin-bottom: 22px;
}
.blog_info.blog_info_2 {
  margin-top: 1px;
}    
.my-slider.my-slider-2 {
  padding: 0;
}
.layer-1-5 a, .slider-caption-2 .layer-2-5 a {
  font-size: 14px;
  margin-top: 1px;
  padding: 7px 15px;
}   
.menu_inner.hm3-menu {
  background: none;
} 
.menu_inner.hm3-menu .cat_mega_start {
  display: none;
} 
.nyrd_all_first {
  margin-left: 504px;
  margin-top: 132px;
}
.nyrd_all_first {
  margin-left: 504px;
  margin-top: 187px;
}
.layer-15 {
  margin-left: 359px;
  margin-top: 145px;
}
.layer-16 {
  margin-left: 312px;
}
.all_home_2 {
  margin-bottom: -47px;
}
.pix_new.pix_new_new {
  border: medium none;
  margin-left: 9px;
}
.new_slide_three.camera_wrap {
  margin-bottom: 85px !important;
}    
.new_slide_three {
  left: -1px;
}
.new_effect_slide {
  padding-bottom: 40px;
} 
.about_all {
  margin-left: -12px;
}
.favtabs {
  right: 20px;
}
.lenovo_area.lenovo_area_2{
  margin-bottom: -22px;
  margin-left: -15px;
  margin-top: -2px;      
} 
.logo_area_3 {
  display: none;
}    
.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  width: 662px;
} 
.cramb_area.cramb_area_5 {
  margin-top: -8px;
} 
.brand.brand-2 {
  display: none;
}
.all_brand {
  margin-top: 60px;
}
.product-action {
  top: 27%;
}
.navi_area.navi_area_zq::after {
  width: 560px;
}
.navi_area.navi_area_zq li a {
  margin-bottom: 20px;
}
.navi_area li a {
  margin-bottom: 49px;
} 
.navi_area::after {
  width: 556px;
}    
.all_brand.all_brand_zx.indicator-brand.indicator-brand-7.owl-carousel.owl-theme {
  margin-top: 35px;
}
.all-pros-latest-mixt{
  display: none;
}
.category-widget-menu {
  margin-bottom: 50px;
} 
.navi_area.navi_area_tf a {
  margin-bottom: 13px;
}
.navi_area.navi_area_tf::after {
  width: 555px;
}    
.elavetor > img {
  width: 100% !important;
}
.elav_titel {
  margin-top: 18px;
} 
.elavetor_social {
  margin: 15px 0 23px;
}    
.favtabs.favtabs-2 {
  right: 506px;
}
.favtabs.favtabs-2::after {
  width: 718px;
}    
.tab_area_start {
  margin-top: -17px;
}
.logo_area {
  display: none;
} 
.favtabs.favtabs-2.favtabs-3 {
  right: 310px;
}
.full_menu_nyc{
  margin-top: -42px;
} 
.all_catagories-tp{
  margin-top: 81px;       
}    
.logo_area.logo_area_vc {
  margin-top: -8px;
}
.cramb_area_6 li a {
  margin-top: 16px;    
}
.blog_thumb_4 {
  height: 221px;
}
.indicator-brand-13 .owl-pagination {
  left: 87px;
  top: 120px;
} 
.indicator-brand-13.owl-theme .owl-controls .owl-buttons div {
  left: 275px;
}    
.indicator-brand-14 .owl-buttons {
  left: 6px;
  top: 98px;
}
.indicator-brand-13 .owl-pagination {
  top: 106px;
}    
.blog_thumb.blog_thumb_2.blog_thumb_3.blog_thumb_4.blog_thumb_5.blog_thumb_6 {
  height: 222px;
}
.indicator-brand-15 .owl-pagination {
  top: 111px;
  left: 111px;    
}
.indicator-brand-cc2 .owl-pagination{
  top: 121px;        
}
.single-columns {
  width: 50%;
}
.columns_heading {
  margin-top: -15px;
}
.indicator-brand-17 .owl-pagination::after {
  left: 294px;
  top: 148px;
}
.indicator-brand-17 .owl-page > span::before {
  left: 400px;
  top: 148px;
}
.indicator-brand-16.indicator-brand-13 .owl-buttons {
  top: 181px;
}
.indicator-brand-16.indicator-brand-13.owl-theme .owl-controls .owl-buttons div {
  left: 635px;
}
.indicator-brand-16.indicator-brand-13 .owl-pagination {
  left: 244px;
  top: 204px;
}
.all_news_letter.all_news_letter_ytz {
  margin-top: 59px;
}
.form-action label {
  margin: -2px 496px 0 0;
} 
.our_team_new_head.our_team_new_head_2 h2 {
  margin-top: -33px;
} 
.panel-group {
  margin-top: -12px;
}
.wishlist-table table .wishlist-in-stock {
  margin-left: 5px;
} 
.amount-list {
  margin-left: 2px;
}
.wishlist-table table th, .wishlist-table table td {
  padding: 15px 9px;
} 
.button_act.button_act_3.button_act_333 {
  margin-left: 34px;
}
.button_act.btn-tip {
  margin-left: 284px;
}
#googleMap {
  margin: 4px 0;
}
.cramb_area.cramb_area_2 a {
  margin-top: 0px;
}
.price_rating {
  margin-top: -6px;
}
.single-sidebar {
 display: none;
}
.all_ayntex.indicator-brand-4.owl-carousel.owl-theme {
  margin-bottom: 52px;
}
.indicator-brand-4.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 644px;
}
.all_news_letter.all_news_letter_2.all_news_letter_yf {
  margin-top: 100px;
}
.cosmetc_area {
  margin-top: -29px;
}
.single_about {
  margin-bottom: 30px;
}    
.pix_new {
  margin-left: -16px;
}
.haxico_main {
  margin-top: -23px;
}
.all-pros.all-pros-2.all-pros-latest {
  margin-bottom: 0;
}
.all-pros.all-pros-3.all-pros-latest {
  margin-bottom: 0;
}  
.new_chek_cart {
  padding: 0;
}
.frm_content_2 h2 {
  margin: 25px 0 20px;
}
.bend.niceties.preview-2 {
  margin-top: 45px;
}
.sl_cap_1_first {
  margin-left: 81px;
  margin-top: 1px;
}
.layer-1-4.layer-3-4.animated.rotateInUpLeft > h3 {
  margin-bottom: 15px;
}    
.slider-area {
  padding-bottom: 50px;
}
.layer-1-3.animated.rotateInUpLeft > h1 {
  font-size: 30px;
}
.layer-1-4.animated.rotateInUpLeft > h3 {
  font-size: 20px;
  margin-bottom: 28px;    
}
.layer-1-5.animated.rotateInUpLeft a, .layer-2-5.animated.bounceInUp a {
  font-size: 15px;
  padding: 3px 14px;
} 
.nivo-controlNav a.active {
  left: 351px;
  top: 527px;
}
.nivo-controlNav a {
  right: 323px;
  top: 526px;
} 
.bend.niceties.preview-2.preview-4 {
  margin-top: 7px;
}
.rate-extra.rate-extra-2.rate-extra-3 {
  margin-top: -23px;
}
.nyrd_all_second {
  margin-left: 130px;
} 
    
}
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.rate-extra-2 {
  margin-top: -33px;
}
.nyrd_all_second{
  display: none;
 }    
.old-.price.old-.price-jt {
  margin-left: -76px;
}    
.slider-area.slider-area-3 {
  margin-left: 2px;
} 
.rate-extra.rate-extra-2.rate-extra-3 {
  margin-top: -8px;
}
.bend.niceties.preview-2.preview-4 {
  margin-top: 25px;
}    
.all_home_2.all_home_3 {
  margin-top: 25px;
  margin-bottom: 1px;    
}    
.slider-area.slider-area-2 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  margin-bottom: 85px;
  margin-top: 0px;
}
.bend.niceties.preview-2.preview-3 {
  margin-top: 0px;
}
.sl_cap_1_first {
  display: none;
}    
.cosmetc_area {
  margin-top: -5px;
}
.bend.niceties.preview-2 {
  margin-top: 31px;
}
.slider-area {
  padding-bottom: 30px;
} 
.nivo-directionNav {
  display: none;
}    
.frm_content_2 h2 {
  margin: 30px 0 20px;
}
.new_chek_cart {
  padding: 0;
}
.all_brand.all_brand_7z.indicator-brand.indicator-brand-7.owl-carousel.owl-theme {
  margin-bottom: 10px;
}    
.bar_box.bar_box_3 {
  display: none;
}    
.single-sidebar.single-sidebar-2.single-sidebar-c3 {
  margin-top: 4px;
}    
.old-.price.old-.price-3 {
  margin-left: -80px;
}    
.navi_area li a {
  margin-bottom: 45px;
}    
.navi_area.navi_area_tf li a{
  margin-bottom: 13px
    }   
.logo_area.logo_area_gld {
  margin-top: -29px;
}
.logo_area_3 {
  margin-top: -32px;
}    
.plus_area {
  margin-bottom: 0;
}
.catagory_area {
  margin-top: -8px;
}
.differ_pic {
  margin-bottom: 0;
} 
.lumia_area {
  margin-bottom: 0;
}    
.new_product.new_product_nx.new_product_nx_et {
  margin-top: 0;
}
.bar {
  margin-top: 19px;
}    
.menu {
  display: none;
}
.full_menu {
  background:none;
  border-bottom: none;
  border-radius: 4px;
}
.all_catagories {
  display: none;
}
.new_search {
  margin-bottom: 21px;
}
.logo_area {
  margin-bottom: 20px;
}
.header_middle {
  padding: 38px 0 41px;
}
.new_search {
  margin-left: 44px;
} 
.mean-container .mean-bar {
  background: #666;
  z-index: 99;    
}     
.new_slide_one .camera_pag {
  left: 43%;
  top: 153px;
} 
.new_slide_three .camera_next, .camera_prev {
  top: 101px;
}
.my-slider {
  padding: 40px 0;
}
.tld-f1 {
  display: none;
} 
.sld-fl {
  display: none;
} 
.single_about {
  margin-bottom: 38px;
}
.indicator-brand.owl-theme .owl-controls .owl-buttons {
  display: none;
} 
.plus_pic {
  display: none;
}
.favtabs > li.active > a {
  margin-top: 70px;
}
.feature-carousel.indicator-brand-3.owl-carousel.owl-theme {
  margin-top: 49px;
}
.haxico_main {
  margin-bottom: 101px;
  margin-top: -48px;
}
.haxico_main.haxico_main_grf {
  margin-bottom: 47px;
  margin-top: 18px;
}    
.full_form {
  margin-right: -15px;
  width: 305px;
}  
.news_heading {
  padding: 8px 76px;
  margin-left: 45px;    
}
.news_heading.news_heading_3 {
  margin-left: 47px;
} 
.social-icons {
  margin-right: 23px;
}
.social_design.on_right {
  display: none;
} 
.header_heaft_area {
  display: none;
}
.header_right_area {
  display: none;
}
.header_middle {
  padding: 30px 0 25px;
}   
.header_middle .topcart .new_cart_section {
  right: -14px;
}
.about_us_area {
  margin-left: -47px;
  margin-top: 36px;
}
.new_slide_one.camera_wrap {
  margin-bottom: 39px !important;
} 
.news_right {
  margin-left: 2px;
  margin-top: 5px;
}
.amount {
 font-family: arial;
 font-size: 16px;
 font-weight: normal; 
}
.add-tocart.add-tocart-2 {
  margin-left: 0px;
} 
.add-tocart.add-tocart-2 {
  padding: 11px 19px;
}
.favtabs {
  right: 17px;
}
.favtabs > li > a {
  padding: 0 10px;
}
.product_heading.product_heading_tf > span::before {
  width: 194px;
}    
.pix_new.pix_new_2 {
  display: none;
}
.blog_thumb_2 {
  width: 100%;
}
.blog_info_2 {
  width: 100%;
  margin-left: -29px;    
}
.about_us_area {
  padding: 0;
} 
.top_rate_area {
  margin-bottom: 0px;
}
.my-slider.my-slider-2 {
  padding: 0;
}
.lenovo_area {
  margin-top: -39px;
}
.top_rate_area.top_rate_area_2 {
  margin-bottom: -52px;
}
.new_blog_post {
  margin-bottom: 27px;
}
.main_brand {
  margin-bottom: -8px;
}
.new_slide_two .camera_prev {
  left: 11px;
  top: 95px;
}
.new_slide_two .camera_next {
  right: 11px;
  top: 95px;    
}
.about_us_area.about_us_area_2 {
  margin-top: -78px;
}    
.main_brand.main_brand_tf.main_brand_ds {
  margin-bottom: 10px;
}    
.col-md-3.pr.pl {
  display: none;
}
.menu_inner.hm3-menu {
  background: none;
}
.new_slide_three {
  left: -3px;
  top: 29px;
}
.new_slide_three.camera_wrap {
  margin-bottom: 60px !important;
}
.home_2_about {
  padding-bottom: 0;
}
.favtabs.favtabs_3 {
  display: none;
}
.differ_pic_3 {
  padding-bottom: 0;
} 
.plus_area_3 {
  padding-bottom: 0px;
}
.lumia_area_2 {
  padding-bottom: 23px;
}
.slider-caption-3 {
  display: none;
}
.slider-caption-4 {
  display: none
}
.indicator-brand-4.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 196px;
}
.lenovo_area_2 {
  margin-top: 0;
}
.all_home_2 {
  margin-left: -11px;
}     
.bar_box select {
  display: none;
}
.result_show {
  display: none;
}
.right_area {
  margin-top: -17px;
}
.compare_3 {
  margin-left: -8px;
}
.pro_discrip {
  margin-left: 10px;
}
.product_name_3 h2 > a {
  margin-left: 14px;
}
.cramb_area.cramb_area_5 {
  margin-top: -10px;
} 
.brand.brand-2 {
  margin-top: 1px;
}
.brand.brand-2.brand-2-dt {
  margin-top: -2px;
}
button.add-tocart {
  margin-left: 8px;
}
.product_name_3 h2 > a {
  font-size: 16px;
}
.cramb_area.cramb_area_5 a {
  margin-bottom: 9px;
}
.br-active {
  margin-bottom: 12px;
} 
.cramb_area.cramb_area_2.cramb_area_3.cramb_area_ktp a {
  margin-bottom: 9px;
} 
.new_slide_mix_area {
  margin-top: 0px;
} 
.navi_area.navi_area_zq::after {
  width: 106px;
}
.price_box.price_box_cpq {
  margin-left: 138px;
}
.navi_area::after {
  width: 105px;
}
.navi_area.navi_area_tf::after {
  width: 105px;
}    
.elavetor > img {
  width: 100% !important;
}
.elav_titel {
  margin-top: 18px;
} 
.elavetor_social {
  margin: 15px 0 23px;
}    
.favtabs.favtabs-2 {
  right: 102px;
  top: -106px;
}
.favtabs.favtabs-2::after {
  left: 2px;
  top: 112px;
  width: 270px;
}
.price_box.price_box_acr {
  margin-left: 140px;
}
.tab_area_start {
  margin-top: -17px;
}
.favtabs-2 > li > a {
  font-size: 14px;
  height: 42px;
  line-height: 43px;
  padding: 0 11px;   
} 
#comnt {
  width: 244px;
}
.review_area_heading #comnt ol.commentlist li {
  margin: 0 0 20px -39px;
} 
.review_form_area {
  width: 244px;
}
.review_form_area {
  margin-left: -27px;
  margin-top: 13px;
}
.price_box {
  margin-left: 4px;
}  
.price_box.price_box_dgr {
  margin-left: 148px;
}       
.favtabs.favtabs-2.favtabs-3 {
  right: 19px;
}
.favtabs-3 > li > a {
  font-size: 11px;
  height: 42px;
  line-height: 41px;
  padding: 0 7px;
}
.price_box.price_box_2 {
  margin-left: 0;
}     
.price {
  padding: 2px 5px 10px 77px;
}
.price.price_zx {
  margin-left: -68px;
} 
.shop_menu_2 ul li.br-active {
  margin-bottom: 10px;
}
.cramb_area li a {
  margin-bottom: 1px;
}      
.mobile-menu-area-mixm{
  margin-bottom: 21px;     
}
.cramb_area.cramb_area_6.cramb_area_video > li {
  margin-top: -40px;
}
.blog_thumb_4 {
  height: 170px;    
}
.blog_thumb.blog_thumb_2.blog_thumb_3.blog_thumb_4 {
  margin-bottom: 20px;
}
.post-excerpt.post-excerpt-2 {
  margin-bottom: 56px;
}    
.blog_info_2 {
  margin-left: -29px;
}
.indicator-brand-13 .owl-buttons {
  left: 3px;
  top: 65px;
}
.indicator-brand-13.owl-theme .owl-controls .owl-buttons div {
  left: 201px;
} 
.indicator-brand-13 .owl-pagination {
  left: 53px;
  top: 82px;
} 
.blog_info.blog_info_2.blog_info_4 {
  margin-left: 2px;
}    
.blog_thumb.blog_thumb_2.blog_thumb_3.blog_thumb_4.blog_thumb_5.blog_thumb_6.blog_thumb_7 {
  height: 173px;
}
.indicator-brand-15 .owl-buttons {
  top: 67px;
}
.indicator-brand-15.owl-theme .owl-controls .owl-buttons div {
  left: 225px;
}
.indicator-brand-15 .owl-pagination {
  left: 74px;
  top: 78px;
}
.blog_info_cc{
  margin-bottom: 44px;
  margin-left: -28px;
  margin-top: -34px;    
}
.indicator-brand-cc2 .owl-buttons {
  left: -1px;
  top: 69px;
}
.indicator-brand-cc2 .owl-pagination {
  left: 40px;
  top: 81px;
}
.indicator-brand-cc2.owl-theme .owl-controls .owl-buttons div {
  padding: 1px 9px;
  left: 202px;    
}
.blog_thumb_3 {
  margin-bottom: 54px;
}
.category-widget-menu {
  margin-bottom: 31px;
}   
.single-columns {
  width: 100%;
}
.columns_heading {
  margin-top: -17px;
} 
.indicator-brand-17 .owl-pagination::after {
  top: 98px;
  left: 170px;    
}
.indicator-brand-17 .owl-page > span::before {
  top: 98px;
  left: 70px;
}
.social-link li {
  padding: 0 6px;
}
.info-wrapper {
  width: 100%;
} 
.comments-area {
  margin: 106px 0 0;
}
.all_news_letter.all_news_letter_ytz {
  margin-top: 59px;
} 
.spical-price.spical-price-nyc {
  font-size: 14px;
  margin-left: -142px;
}
.form-action label {
  margin: -2px 45px 0 0;
}  
.our_team_new_head.our_team_new_head_2 h2 {
  margin-top: -33px;
} 
.panel-group {
  margin-top: -12px;
}
.new_product.new_product_nx {
  margin-top: -14px;
}    
.compare_3.compare_3r.button {
  margin-left: -1px;
}
.price_box.price_box_new.price_box_new_3.price_box-infr {
  margin-left: 2px;
}
.coupon {
  margin-left: -26px;
}
.button_act.button_act_3.button_act_333.button_act_tp {
  margin-left: -4px;
  padding: 0 14px;    
}
#googleMap {
  margin: 0px 0;
}   
.table-responsive {
 border: none;
}
.your-order {
  padding: 30px 11px 45px;
}
.cramb_area.cramb_area_2 a {
  margin-top: 0px;
}
.new_search {
  margin-left: 5px;
  width: 100%;
}
.search_box_area {
  width: 100%;
}
.news_middele .row > div:first-child::after {
  display: none;
}
.mean-container .mean-bar::after {
  top: 16px;
}
.single-sidebar.single-sidebar-vg {
  margin-top: 2px;
} 
.blog_3_new_area {
  padding-bottom: 25px;
}
.haxico_main.haxico_main_tft {
  margin-bottom: 0;
}
.brand.brand-2.brand-sth {
  margin-top: 41px;
} 
.brand.brand-2.brand-fdgx {
  margin-top: 16px;
}  
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
    
 .header_right_area {
  padding: 22px 13px;
}
.header_heaft_area {
  text-align: center;
}
.logo_area {
  text-align: center;
}
.social-icons {
  margin-right: 12px;
}   
.header_middle .topcart .cart-toggler .fa-angle-down {
  right: 124px;
  top: 8px;
}
.topcart {
  margin-left: -75px;
}
.header_middle .topcart .new_cart_section {
  right: 62px;
}    
.new_search {
  margin-left: 9px;
}
.favtabs {
  right: 91px;
}
.product_heading > span {
  margin-left: -4px;
}
.new_product.new_product_nx {
  display: none;
}
.full_form {
  margin-right: 101px;
} 
.news_heading {
  padding: 8px 23px;
}
.news_heading_2 h3::after {
  left: 24%;
}   
.about_us_area {
  margin-top: 35px;
}
.price_box {
  margin-left: -1px;
}
.product-action .quickview {
  margin-top: 56px;
}     
.new_product.new_product_2 {
  display: none;
}
.my-slider-2 {
  padding: 0px 0;        
}
.about_us_area_2 {
  margin-top: -58px;
}
.plus_area.plus_area_exct {
  margin-bottom: -8px;
}
.new_blog_post {
  margin-bottom: -17px;
}
.product-action {
  top: 15%;
}    
.nyrd_all_first {
  margin-left: 244px;
  margin-top: 129px;
}
.nyrd_all_second {
  margin-left: 19px;
  margin-top: 48px;
}
.layer-13 h1 {
  font-size: 36px;
}
.layer-15 {
  margin-left: 250px;
  margin-top: 56px;
}
.layer-16 {
  margin-left: 202px;
}   
.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  width: 360px;
}
.brand.brand-2 {
  display: none;
} 
.all_brand {
  margin-top: 34px;
} 
.social-icons li a {
  margin-top: 8px;
} 
.product-action {
  top: 17%;
} 
.favtabs.favtabs-2 {
  right: 244px;
} 
.favtabs.favtabs-2::after {
  width: 418px;
}
#comnt {
  width: 384px;
}
.review_form_area {
  width: 391px;
}
.favtabs.favtabs-2.favtabs-3 {
  right: 169px;
}
.blog_thumb_4 {
  height: 268px;
}
.indicator-brand-13 .owl-buttons {
  left: 3px;
  top: 117px;
}
.indicator-brand-13.owl-theme .owl-controls .owl-buttons div {
  left: 353px;
}
.indicator-brand-13 .owl-pagination {
  left: 132px;
  top: 135px;
}
.llc_pro.llc_pro_tx {
  width: 23%;
}
.blog_thumb_3 {
  margin-bottom: 2px;
}
.blog_info.blog_info_2.blog_info_cc {
  margin-bottom: 45px;
  margin-left: -28px;
}    
.indicator-brand-14 .owl-buttons {
  left: 12px;
  top: 109px;
}
.indicator-brand-14.owl-theme .owl-controls .owl-buttons div {
  left: 337px;
}
.indicator-brand-14 .owl-pagination {
  left: 116px;
  top: 124px;    
}     
.blog_thumb.blog_thumb_2.blog_thumb_3.blog_thumb_4.blog_thumb_5.blog_thumb_6.blog_thumb_7 {
  height: 267px;
}
.indicator-brand-14 .owl-pagination {
  left: 143px;
}  
.indicator-brand-cc2 .owl-buttons {
  top: 109px;
}
.indicator-brand-cc2.owl-theme .owl-controls .owl-buttons div {
  left: 352px;
} 
.indicator-brand-cc2 .owl-pagination {
  left: 121px;
  top: 127px;
} 
.indicator-brand-17 .owl-pagination::after {
  left: 250px;
  top: 88px;
}
.indicator-brand-17 .owl-page > span::before {
  top: 88px;
  left: 140px;
}
.columns-menu {
  margin-left: -13px;
}
.columns-menu div {
  margin-right: -7px;
}    
.indicator-brand-16.indicator-brand-13 .owl-buttons {
  top: 86px;
}
.indicator-brand-16.indicator-brand-13.owl-theme .owl-controls .owl-buttons div {
  left: 357px;
}
.form-action label {
  margin: -2px 196px 0 0;
}    
.our_team_new_head.our_team_new_head_2 h2 {
  margin-top: -33px;
} 
.panel-group {
  margin-top: -12px;
}
.amount-list {
  margin-left: 1px;
}
.wishlist-table table .wishlist-in-stock {
  margin-left: 2px;
}
.coupon {
  margin-left: -21px;
}
.indicator-brand-4.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 344px;
}
.news_right {
  margin-left: 2px;
  margin-top: 7px;
}
.blog_info {
  margin: 20px 0 39px;
}
.single-sidebar {
  display: none;
}
.blog {
  margin-top: 37px;
} 
.new_product {
  margin-top: -11px;
}
.navi_area.navi_area_zq::after {
  width: 257px;
} 
.navi_area::after {
  width: 256px;
}   
.logo_area.logo_area_gld {
  margin-top: -28px;
}
.navi_area.navi_area_tf::after {
  width: 257px;
}
.category-widget-menu.category-widget-menu-sd {
  margin-bottom: 33px;
}
.new_product.new_product_nx {
  margin-top: -86px;
}
.social-icons li {
  margin: 2px 3px 3px;
}
.all_brand.all_brand_zx.indicator-brand.indicator-brand-7.owl-carousel.owl-theme {
  margin-top: 0;
} 
.haxico_main {
  margin-bottom: 63px;
  margin-top: -52px;
} 
.blog_info.blog_info_2 {
  margin-bottom: 43px;
  margin-left: -27px;
}
.haxico_main.haxico_main_grf {
  margin-bottom: -30px;
  margin-top: 46px;
}
.bar {
  margin-top: 28px;
} 
.blog.blog_sc {
  margin-top: 5px;
}
.logo_area_3 {
  margin-top: -32px;
}
.logo_area.logo_area_gld {
  margin-top: 1px;
}
.navi_area li a {
  margin-bottom: 0;
} 
.old-.price.old-.price-3 {
  margin-left: -74px;
} 
.action.actionmm {
  margin-left: -7px;
}
.all_brand.all_brand_7z.indicator-brand.indicator-brand-7.owl-carousel.owl-theme {
  margin-top: -10px;
}
.blog_info.blog_info-sc {
  margin-bottom: 48px;
}
.main_brand.main_brand_tf.main_brand_sw {
  margin-top: -62px;
}
.main_brand.main_brand_tf {
  margin-top: -61px;
}
.main_brand.main_brand_tf.main_brand_tfcs {
  margin-top: -5px;
} 
.favtabs.favtabs-2.favtabs-nytr {
  right: 251px;
}    
}
